* {
    --blue: #0065FC;
    --light-blue: #DEEBFF;
    --gray: #D9D9D9;
    --light-gray: #F2F2F2;
    --card: 25px;

    box-sizing: border-box;
    margin: 0;
    padding:0;
}

body {
    font-size: 62.5%;
    font-family: 'Raleway', sans-serif;
}

i {
    font-size: 3rem;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color:black;
}

/* HEADER */


header {
    display: flex;
    align-items: center;
    justify-content:space-between;
    
}

.logo {
    height: 3rem;
    width: 8rem;
    margin-left: 3rem;
}

.nav {
    height: 100%;
    display: flex;
    padding: 0 2rem 0 0;
}



.li-header {
    font-size: 1.2rem;
    padding: 2.5rem 3rem;
    border: 2px solid transparent;
}



.li-header:hover {
    border-top: 2px solid var(--blue);
}


/* SECTION SEARCH */

.search {
    margin: 2rem;
}

.search-title {
    font-size: 1.6rem;
    font-weight: bold;
    margin: 0 0 1rem 0;

}

.search-info {
    font-size: 1rem;
    margin: 0 0 1rem 0 ;
}

/* Section ===> Search area <=== */


.search-input {
    
    padding: 0 0 0 80px;
    border: 2px solid #f2f2f2;
    outline: none;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    font-size: 1rem ;
}


.search-box {
    position: relative;
    max-width: 380px;
    min-width: 263px;
    width: 100%; 
    height: 50px;
}

.btn-location {
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 100%;
    background: #f2f2f2;
    z-index: 1;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.btn-search {
    position:absolute;
    top: 0;
    right:0;
    width: 8rem; /*120 px */
    height: 100%;
    background: #0065fc;
    color: white;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px; 
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    cursor: pointer;
}

.btn-location i {
    font-size: 1.4rem;
}

.btn-search p {
    font-size: 1rem;
    /* display: none; */
}
.btn-search i {
    font-size: 1rem;
    display: none;
}


/* Section ===> Filtres <=== */

.filter ul {
    display:flex;
    margin: 2rem 0 2rem 0;
    flex-wrap: wrap;
}

.filter p  {
    display: flex;
    align-items: center;
    justify-content:flex-start;
    font-size: 1rem;
    font-weight: bold;
    margin: 2rem 0 1.5rem 1rem;
}

.cell {
    display: flex;
    border: 2px solid var(--gray);
    border-radius: 50px;
    margin: 0 1rem 0 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}
.cell:hover {
    background: var(--blue);
    color:white;
}

.cell .icon {
    /* overflow: visible; */
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--light-blue);
    height: 40px;
    width: 40px;
    padding: 0.5rem;
    border-radius: 50%;
    
}

.cell .icon i {
    font-size: 1rem;
    color: var(--blue);
}
.cell p {
    margin: 0 1rem 0 1rem;
    font-size: 1rem;
    font-weight: bold;
    
}

.search p {
   display: flex;
   align-items: center;
   font-size: 1rem;
}

.search p i {
    font-size: 0.8rem;
    color: var(--blue);
}

.search p span {
    /* display: block; */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 0.8rem;
    padding: 0.5rem;;
    height: 25px;
    width: 25px;
    font-size: 1rem;
    border: 1px solid var(--light-gray);
    border-radius: 50%;
}

/* section RESULTS + section POPULAR*/

.container {
    width: 100%;
    /* height: 700px; Soucis avec flex-direction column reverse */
    display: flex;
    justify-content: space-around;
}

.results {
    margin: 2rem;
    max-width: 1050px;
    min-width: 361px;
    height: auto;
    background: var(--light-gray);
    border-radius: var(--card);
    display: flex;
    flex-direction: column;
}
.results-title {
    font-weight: bold;
    font-size: 1.2rem;
    margin: 1.6rem 0 2rem 4rem;
}

.cards-container {
    margin: 0.5rem 2rem;
    display: flex;
    flex-wrap: wrap;
    column-gap: 3rem;
    row-gap: 3rem;
    
    
}

.card {
    /* margin: 1.5rem; */
    padding: 0.3rem;
    width: calc(25% - 25px);
    min-width: 120px;
    height: 250px;
    background: white;
    border-radius: var(--card);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.card:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.card a {
    width: 100%;
    height: 100%;
}

.card a img {
    
    height: 150px;
    width: 100%;
    object-fit:cover;
    border-top-left-radius: var(--card);
    border-top-right-radius: var(--card);

}

.card-details .name {
    margin: 8px;
}
.card-details p {
    margin: 8px;
}

.notation {
    display: flex;
    margin: 8px;
}

.fa-star {
    font-size: 1rem;
}

.full-star {
    color: var(--blue);
}

.empty-star {
    color: var(--gray)
}

.more {
    margin: 0.5rem 0 0.5rem 4rem;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
}

.popular {
    /* width: 600px; */
    max-width: 900px;
    margin: 2rem;
    height: 730px;
    background: var(--light-gray);
    border-radius: var(--card);
    display: flex;
    flex-direction: column;
}

.popular-title {
    font-weight: bold;
    font-size: 1.2rem;
}

.popular-title-box {
    margin: 1.6rem;
    display: flex;
    align-items: center;
    justify-content: space-between
}

.popular-cards-container {
    display: flex;
    flex-direction: column;
}

.popular-card  {
    margin: 0.4rem 1.5rem 1.5rem 1.5rem;
    padding: 0.3rem;
    width:400px;
    height: 190px;
    background: white;
    border-radius: var(--card);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    
}

.popular-card:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.popular-card a {
    height: 100%;
    width: 100%;
    display: flex;
}

.popular-card img {
    height: 100%;
    width: 100px;
    object-fit:cover;
    border-top-left-radius: var(--card);
    border-bottom-left-radius: var(--card);
}

.popular-card-info {
    margin: 0 1rem 1rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.popular-card-info p {
    margin: 1rem 0;
}

.popular-card-info .notation {
    margin: 2rem 0 0 0;
}

/* section toDo */


.toDo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.toDo-container {
    width: 95%;
    height: 700px;
    margin: 2rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /* row-gap: 20px;
    column-gap: 20px; */
}

.one, .four {
    /* background: red; */
    width:25%;
    height: 700px;
    display: flex;
    flex-direction: column; 
}

.one, .two, .three, .four, .five, .six {
    border-radius: var(--card);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

}

/* .one img {
    height: 90%;
    width: 25%;
} */


.one img, .four img {
    height: 90%;
    width: 100%;
    object-fit: cover;
    border-top-left-radius: var(--card);
    border-top-right-radius: var(--card);
}

.two, .three, .five, .six {
    /* background: purple; */
    width: 25%;
    height: 350px;
    display: flex;
    flex-direction: column;
}
.two img, .three img, .five img, .six img {
    height: 80%;
    width: 100%;
    object-fit: cover;
    border-top-left-radius: var(--card);
    border-top-right-radius: var(--card);
    
}




/* .three {
    background: yellow;
    width: 25%;
    height: 350px;
} */

/* .four {
    background: green;
    width: 25%; 
    height: 700px;;
} */

/* .five {
    background: orangered;
    width: 25%;
    height: 350px;
}

.six {
    background: black;
    width: 25%;
    height: 350px;;
} */